@import './fragment/_fonts.css';
@import './fragment/_vars.css';
@import './fragment/_structure.css';
@import './fragment/_reset.css';
@import './fragment/_atom.css';
@import './fragment/_adaptive.css';


/* Блоки */
header {
    margin-bottom: 30px;
    padding: 15px;
    background-color: #eee;
    display: flex;
    gap: 15px;
    nav {
        display: flex;
        gap: 10px;
        .link {
            display: block;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

#post_list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#post_list .item {
    display: grid;
    grid-template-areas:
    	"a b"
		"a c"
		"a d"
		"a e"
		"a f";

    gap: 15px;
    background-color: #e1e1e1;
    padding: 15px;
}
#post_list .preview_area {
    grid-area: a;
}
#post_list .category_area {
    grid-area: b;
}
#post_list .published_at {

}
#post_list .name {
    grid-area: c;
}
#post_list .tag_area {
    grid-area: d;
}
#post_list .anons {
    grid-area: e;
}
#post_list .more {
    grid-area: f;
}

footer {
    padding: 15px;
    text-align: center;
    border-top: 1px solid;
    color: #808080;
    margin-top: 30px;
}
